{%load static%}
<!doctype html>
<html>
<head>
  
  <title>Crear periodista</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/estilo.css' %}" type="text/css" rel="stylesheet"> 
  <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon" /> 
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <script>
    $(function() 
    {
      $("#mi-formulario").validate({
           
          messages: {

              
              nombre:{
                  required: 'Ingrese nombre del artículo',
                  minlength: 'Caracteres insuficientes',
              },
              apellido:{
                  required: 'Ingrese descripción del artículo',
                  minlength: 'Caracteres insuficientes',
              },

           
            
          }//messages
      }); //$('#mi-formulario').validate
  }); //function

  $(function(){

$('.validanumericos').keypress(function(e) {
if(isNaN(this.value + String.fromCharCode(e.charCode))) 
   return false;
})
.on("cut copy paste",function(e){
e.preventDefault();
});

});

</script>
</head>

<body class="fondo">
    <nav class="navbar navbar-expand-sm navbar-dark"  style="background-color: #000000;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <!-- logo -->
        <div>
          <img src="{%static 'img/logo.png'%}" width="70" height="70" >
        </div>
        </div>
         <!-- menu -->
     <div class="collapse navbar-collapse" id="opciones"> 
       <br>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link tamano" href="{% url 'Inicio' %}" style="color: aliceblue;">Inicio</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link tamano" href="{% url 'Lista' %}" style="color: aliceblue; " >Colaboradores</a> 
          </li>

        <li class="nav-item">
          <a class="nav-link tamano" href="form_objeto" style="color: aliceblue; " >Agregar colaborador</a>
        </li>
        </ul>
      </div>
    </nav>
        
  <!-- formulario -->
  
  
  
</h1>
<div id=formulario>
  <h1>Crear periodista</h1>
 <form action="" method="POST" id="mi-formulario" class="post-form" enctype="multipart/form-data">
   {% csrf_token %}

 <div class="form-group" style="font-family: Arial;" >
   <label for="formGroupExampleInput2">Nombre del Periodista</label>
     {{objeto_form.Nombre.label}}
     {{objeto_form.nombreCompleto}} 
 </div>
 
 <div class="form-group" style="font-family: Arial;">
   <label for="formGroupExampleInput2">Rut</label>
     {{objeto_form.Rut.label}}
     {{objeto_form.rut}} 
 </div>

 

 <div class="form-group" style="font-family: Arial;">
   <label for="formGroupExampleInput2">Telefóno</label>
     {{objeto_form.Telefóno.label}}
     {{objeto_form.telefono}} 
 </div>


 <div class="form-group" style="font-family: Arial;">
   <label for="formGroupExampleInput2">Email</label>
     {{objeto_form.Email.label}}
     {{objeto_form.email}} 
 </div>

 <div class="form-group" style="font-family: Arial;">
  <label for="formGroupExampleInput2">Dirección</label>
    {{objeto_form.Dirección.label}}
    {{objeto_form.direccion}} 
</div>

<div class="form-group" style="font-family: Arial;">
  <label for="formGroupExampleInput2">País</label>
    {{objeto_form.País.label}}
    {{objeto_form.pais}} 
</div>

<div class="form-group" style="font-family: Arial;">
  <label for="formGroupExampleInput2">Contraseña</label>
    {{objeto_form.Contraseña.label}}
    {{objeto_form.contraseña}} 
</div>

<div class="form-group" style="font-family: Arial;">
  <label for="formGroupExampleInput2">Foto</label>
    {{objeto_form.Imagen.label}}
    {{objeto_form.image}} 
</div>

<div>
 <button style="margin: 10px;  background-color: #000000; border: #000000; font-family: Arial;" type="submit" id="btnValidar" class="btn btn-primary">Registrar</button>  <button onClick="javascript:history.go(-1)" class="btn btn-primary btn-xl" style="margin: 10px;  background-color: #000000; border: #000000;font-family: Arial;">Atrás</button>
</div>

</form>

</div>


    <!-- Footer -->
<footer class="text-muted py-5 fondofondo">
  <div class="container">
    <p class="float-end mb-1">
      <a style="color: #f59c0c; font-family: Arial;" href="#">Subir al inicio</a>
    </p>
    <div class="shared-panel">
      <span>Encuentranos en nuestras redes sociales</span><br>
      <a target="_blank" class="shared fb" title="Facebook"></a>	
      <a target="_blank" class="shared tt" title="Twitter"></a>
      <a target="_blank" class="shared gp" title="Google+"></a>
      <a  data-action='share/whatsapp/share' class="shared wa" title="WhatsApp"></a>
      <a target="_blank" class="shared ce" id="sml" title="Email"></a>		
    </div>
    <p style="font-family: Arial;" class="mb-1">Fernanda Gutiérrez &copy; Derechos reservados.</p>
    <p  style="font-family: Arial;" class="mb-0"> <a href="#" style="color: #f59c0c; font-family: Arial;">visita nuestro homepage</a> o lee  <a style="color: #f59c0c; font-family: Arial;" href="#">nuestra politica</a>.</p>
  </div>
</footer>
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>



</html>